TouristInsured/Connected Services/IMGService/TravelServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.imglobal.com/" elementFormDefault="qualified" targetNamespace="http://services.imglobal.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services.imglobal.com/PurchaseWebService/Certificate/Travel/TravelServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Imglobal.WebServices.Certificate.Travel.Dto" />
  <xs:import schemaLocation="http://services.imglobal.com/PurchaseWebService/Certificate/Travel/TravelServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Imglobal.WebServices.Certificate.Dto" />
  <xs:element name="PurchaseCertificate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Imglobal.WebServices.Certificate.Travel.Dto" minOccurs="0" name="requestDto" nillable="true" type="q1:TravelPurchaseCertificateRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseCertificateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Imglobal.WebServices.Certificate.Dto" minOccurs="0" name="PurchaseCertificateResult" nillable="true" type="q2:PurchaseCertificateResponseDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuoteCertificate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Imglobal.WebServices.Certificate.Travel.Dto" minOccurs="0" name="requestDto" nillable="true" type="q3:TravelPurchaseCertificateRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuoteCertificateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Imglobal.WebServices.Certificate.Dto" minOccurs="0" name="QuoteCertificateResult" nillable="true" type="q4:QuoteCertificateResponseDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>