TouristInsured/Connected Services/IMGService/TravelServices7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Imglobal.WebServices.Product.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Imglobal.WebServices.Product.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services.imglobal.com/PurchaseWebService/Certificate/Travel/TravelServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Imglobal.WebServices.Certificate.Dto" />
  <xs:complexType name="ProductQuoteDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deductible" nillable="true" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Imglobal.WebServices.Certificate.Dto" minOccurs="0" name="PaymentFrequency" nillable="true" type="q1:PaymentFrequencyTypes" />
      <xs:element minOccurs="0" name="PolicyMaximum" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrimaryCertificateTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TripDuration" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TripLiteTotal" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductQuoteDto" nillable="true" type="tns:ProductQuoteDto" />
</xs:schema>