TouristInsured/Connected Services/IMGService/TravelServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://services.imglobal.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TravelServices" targetNamespace="http://services.imglobal.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ITravelServices_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://services.imglobal.com/Imports">
      <xsd:import schemaLocation="http://services.imglobal.com/PurchaseWebService/Certificate/Travel/TravelServices.svc?xsd=xsd0" namespace="http://services.imglobal.com/" />
      <xsd:import schemaLocation="http://services.imglobal.com/PurchaseWebService/Certificate/Travel/TravelServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://services.imglobal.com/PurchaseWebService/Certificate/Travel/TravelServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Imglobal.WebServices.Certificate.Travel.Dto" />
      <xsd:import schemaLocation="http://services.imglobal.com/PurchaseWebService/Certificate/Travel/TravelServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Imglobal.WebServices.Certificate.Dto" />
      <xsd:import schemaLocation="http://services.imglobal.com/PurchaseWebService/Certificate/Travel/TravelServices.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Imglobal.WebServices.Core.Dto" />
      <xsd:import schemaLocation="http://services.imglobal.com/PurchaseWebService/Certificate/Travel/TravelServices.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Imglobal.WebServices.Core" />
      <xsd:import schemaLocation="http://services.imglobal.com/PurchaseWebService/Certificate/Travel/TravelServices.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Imglobal.WebServices.Certificate.Dto.Rules" />
      <xsd:import schemaLocation="http://services.imglobal.com/PurchaseWebService/Certificate/Travel/TravelServices.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Img.Rules" />
      <xsd:import schemaLocation="http://services.imglobal.com/PurchaseWebService/Certificate/Travel/TravelServices.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Imglobal.WebServices.Product.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITravelServices_PurchaseCertificate_InputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseCertificate" />
  </wsdl:message>
  <wsdl:message name="ITravelServices_PurchaseCertificate_OutputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseCertificateResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelServices_QuoteCertificate_InputMessage">
    <wsdl:part name="parameters" element="tns:QuoteCertificate" />
  </wsdl:message>
  <wsdl:message name="ITravelServices_QuoteCertificate_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuoteCertificateResponse" />
  </wsdl:message>
  <wsdl:portType name="ITravelServices">
    <wsdl:operation name="PurchaseCertificate">
      <wsdl:input wsaw:Action="http://services.imglobal.com/ITravelServices/PurchaseCertificate" message="tns:ITravelServices_PurchaseCertificate_InputMessage" />
      <wsdl:output wsaw:Action="http://services.imglobal.com/ITravelServices/PurchaseCertificateResponse" message="tns:ITravelServices_PurchaseCertificate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuoteCertificate">
      <wsdl:input wsaw:Action="http://services.imglobal.com/ITravelServices/QuoteCertificate" message="tns:ITravelServices_QuoteCertificate_InputMessage" />
      <wsdl:output wsaw:Action="http://services.imglobal.com/ITravelServices/QuoteCertificateResponse" message="tns:ITravelServices_QuoteCertificate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITravelServices" type="tns:ITravelServices">
    <wsp:PolicyReference URI="#BasicHttpBinding_ITravelServices_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PurchaseCertificate">
      <soap:operation soapAction="http://services.imglobal.com/ITravelServices/PurchaseCertificate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuoteCertificate">
      <soap:operation soapAction="http://services.imglobal.com/ITravelServices/QuoteCertificate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TravelServices">
    <wsdl:port name="BasicHttpBinding_ITravelServices" binding="tns:BasicHttpBinding_ITravelServices">
      <soap:address location="https://services.imglobal.com/PurchaseWebService/Certificate/Travel/TravelServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>